.navbar {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    position: fixed;
    top: 10px;
    left: calc(50% - 500px);
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
}

.navbar h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: right;
}

.navbar h4 {
    margin-top: 0px;
    padding-top: 0px;
    text-align: right;
    margin-bottom: 20px;
}

.navbar p {
    text-align: left;
    font-weight: 900;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
    padding-left: 25px;
    border-left: 1px solid black;
    padding-right: 25px;
    border-right: 1px solid black;
}

.navbar ul a {
    padding: 10px;
    box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    margin-top: 150px;
    text-align: center;
    user-select: none;
    background-image: radial-gradient(skyblue, royalblue);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.section {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    margin: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding-bottom: 20px;
    width: 800px;
    margin-left: calc(50% - 400px);
}

.section a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: royalblue;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: calc(50% - 150px);
}

.welcome {
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 800px;
    margin-left: calc(50% - 400px);
}

.item {
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item h1, h4 {
    margin: 0;
}

.item a {
    padding: 10px;
    background-color: royalblue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 25px;
}

a:hover {
    padding: 12.5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    background-color: rgb(105, 136, 230);
}

* {
    transition: 0.25s;
}

.copyright {
    margin-top: 50px;
    background-color: royalblue;
    margin-bottom: 0;
    padding: 10px;
    padding-top: 25px;
}

.classSection {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    margin: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding-bottom: 20px;
    width: 800px;
    margin-left: calc(50% - 400px);
    display: flex;
    justify-content: center;
    align-items: center;
}